html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url('login-background.jpg'); /* Sfondo principale */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  margin: 0 10px 0 10px;
  color: #f1f1f1;
}

h1.error {
  font-size: 4em;
  color: #e74c3c;
}

h1.medium-h1 {
  font-size: 2em;
}

h1.small-h1 {
  font-size: 1.8em;
}

p {
  margin: 0;
  margin-top: 6px;
  font-size: 0.9em;
  color: #ddd;
}

p.center-p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color: #007ffe;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
  color: #0061c3;
  text-decoration: underline;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

/* --- CONTAINER GENERALE --- */
.container {
  min-width: 300px;
  max-width: 300px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 8px;
  text-align: center;
}

/* --- HOME PAGE --- */
.home-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('login-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.left-panel, .right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-panel {
  background: rgba(0, 0, 0);
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.right-panel {
  background: rgba(40, 40, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: #fff;
}

h1.home-h1 {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.home-p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.buttons {
  display: flex;
  gap: 20px;
}

.a-button {
  min-width: 120px;
  padding: 12px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.a-button:hover {
  background-color: #2980b9;
}

/* --- FORM LOGIN --- */

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #777;
  border-radius: 5px;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-sizing: border-box;
}

.input-wrapper input::placeholder {
  color: #ccc;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  transform: translateY(100%);
  cursor: pointer;
  color: #ccc;
}

.input-wrapper i:hover {
  color: #fff;
}



.forgotPassword {
  text-align: left;
  margin-left: 2px;
}

/* --- BOTTONI --- */
button, .a-button {
  min-width: 100px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #0060c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

button:hover, .a-button:hover {
  background-color: rgb(1, 73, 121);
  color: #fff;
  text-decoration: none;
}

/* --- INPUT TEXT, EMAIL, PASSWORD --- */
input[type="text"], input[type="email"], input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input-error {
  border: 2px solid red !important;
}

#confirmPasswordMessage {
  color: red;
  font-size: 0.8em;
  margin: 0;
  margin-top: 6px;
  margin-left: 2px;
  text-align: left;
  display: none;
  /* transform: translateY(-50%); */
}

#confirmPasswordMessage i {
  font-size: 1em;
}
